*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: helvetica, sans-serif;
   width: 350px;
 }
 label {
   font-weight: normal;  
 }
 div {
   padding-bottom: 20px;
 }
 input[type="text"] {
   padding: 5px;
   width: 150px;
 }
 p {
   padding: 10px;
   visibility: hidden;
 }